# Node.js / React 项目常用的忽略规则
node_modules/
dist/
build/
coverage/
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
decode_1174.js
tt.js
# Python 项目常用的忽略规则
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.venv/
.env
env/
venv/
.pytest_cache/
.DS_Store
.logs
# 编辑器特定文件
.idea/
.vscode/
*.swp
*.swo

# 操作系统特定文件
Thumbs.db
desktop.ini